<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="io.proxsee" version="0.1.0">
	<!-- When you update this file, update the package.json too. -->
	<!-- Reference: https://cordova.apache.org/docs/en/latest/plugin_ref/spec.html -->
	<name>Proxsee</name>
	<description>Proxsee Cordova Plugin; More info in README.md or at http://www.proxsee.io/</description>
	<license>custom</license>
	<keywords>proxsee,proximity,beacon,beacons</keywords>
	<js-module src="www/proxsee.js" name="proxsee">
		<clobbers target="proxsee" />
	</js-module>
	<!-- TODO: Allow user to include API key in their config.xml; but how? -->
	<engines>
		<!-- The requirement is actually 6.4.0, but v6.5.0 thinks it is 6.2.0?! -->
		<engine name="cordova" version=">=6.2.0" />
		<engine name="cordova-ios" version=">=4.3.0" />
	</engines>
	<platform name="ios">
		<framework src="CoreLocation.framework" />
		<framework src="ProxSeeSDK" type="podspec" spec="~> 2.4.1" />
   
		<config-file target="config.xml" parent="/*">
			<feature name="Proxsee">
				<param name="ios-package" value="ProxseeCordovaAdapter"/>
			</feature>
		</config-file>
		<header-file src="ios/ProxseeCordovaAdapter.h" />
		<source-file src="ios/ProxseeCordovaAdapter.m" />
	</platform>
	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="Proxsee">
				<param name="android-package" value="io.proxsee.android.ProxseeCordovaAdapter" />
			</feature>
		</config-file>
		<framework src="io.proxsee:proxsee-sdk:2.4.2" />
		<source-file src="android/build-extras.gradle" target-dir="src/.." />
		<source-file src="android/ProxseeCordovaAdapter.java" target-dir="src/io/proxsee/android" />
	</platform>
</plugin>
